.score_box {
    width: 23%;
    text-align: center;
    height: 6rem;
    border-radius: 10px;
    text-transform: uppercase;
    background-color: #fff;
}

.score_box p {
    color: hsl(229, 64%, 46%);
}
.score_box .score {
    color: hsl(229, 25%, 31%);
    font-size: 3.5rem;
    margin-top: -1.5rem;
}
.container_options {
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 1rem auto;
}
.container_option {
    width: 10rem;
    height: 10rem;
    background: transparent;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container_option:last-child {
    margin: auto;
}

.container_image {
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rules_button {
    background: transparent;
    padding: 0.5rem 2rem;
    border: 2px solid hsl(217, 16%, 45%);
    color: hsl(217, 16%, 45%);
    text-transform: uppercase;
    border-radius: 8px;
    align-self: flex-end;
    margin: 0 25px;
    cursor: pointer;
    font-family: 'Barlow Semi Condensed';
    font-weight: 600;
}
.chosen_options {
    margin: 1rem auto;
    display: flex;
    gap: 2rem;
    color: #fff;
    text-transform: uppercase;
}

.chosen_options div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.chosen_options .container_try_again {
    width: 8rem;
}

.container_try_again button {
    background-color: #fff;
    border: none;
    text-transform: uppercase;
    border-radius: 6px;
    padding: 0.5rem 2rem;
    font-family: 'Barlow Semi Condensed';
    font-weight: 600;
    color: hsl(217, 16%, 45%);
}
.container_try_again button:hover {
    color: rgb(217, 62, 91);
}
.container_try_again p {
    font-size: 2.5rem;
    text-align: center;
}
.is_winner {
    background: rgb(133, 130, 130);
    box-shadow: 0 0 0 0 rgb(208, 208, 208);
    animation: pulse-white 2s infinite;
}

@keyframes pulse-white {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 80px rgba(255, 255, 255, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
    }
}

@media screen and (max-width: 600px) {
    .container_option {
        width: 7rem;
        height: 7rem;
    }
    .container_image {
        width: 5.5rem;
        height: 5.5rem;
    }
    .rules_image {
        width: 100%;
    }

    .container_options {
        gap: 0;
    }
    .chosen_options {
        gap: 0;
    }
    .container_try_again button {
        padding: 0.5rem 1rem;
    }
    .chosen_options .container_try_again {
        width: 5rem;
    }
    .container_try_again p {
        font-size: 2rem;
    }
    .container_try_again {
        height: 15rem;
        margin: 10px 2px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
